@tailwind base;
@tailwind components;
@tailwind utilities;

.load {
   @apply animate-pulse shadow-md;
}
.activeSize {
   @apply bg-primaryBlack text-primaryWhite;
}
td,
th {
   text-align: left;
   padding-inline: 1.4em;
}

.pageTransition {
   animation: pageTransition 0.3s linear forwards;
}

@keyframes pageTransition {
   0% {
      opacity: 0;
      transform: translateY(30px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
.loader {
   width: 50px;
   padding: 6px;
   aspect-ratio: 1;
   border-radius: 50%;
   background: #242929;
   --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
   -webkit-mask: var(--_m);
   mask: var(--_m);
   -webkit-mask-composite: source-out;
   mask-composite: subtract;
   animation: s3 1s infinite linear;
}
@keyframes s3 {
   to {
      transform: rotate(1turn);
   }
}

::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
   background: #555;
}
